---
title: Notes
---

%h1 Notes
%p The notes for this course are split up into three distinct sections:

.container
  - data.information.each do |n|
    / to update this please look in /data/notes.yml -- this is YAML data.
    .row.course
      .col-md-3
        =image_tag data.notes["#{n.name}"].img
      .col-md-9
        %h3= "#{n.name} Notes"
        %p= data.notes["#{n.name}"].info
        - n.sections.each do |sec|
          %ul
            %li
              %a{:href => "notes/#{sec.name.to_s.tr(" ", "_")}.html"}
                = sec.name

